<div dx-toolbar="{ items: [{ location: 'center', text: 'Calculatrice LED' }] }">
</div>
<div class="dx-fieldset top-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Nombre d'ampoules:</div>
        <div id="nombreAmpoule" class="dx-field-value" dx-number-box="{ bindingOptions: { value: 'vm.nombreAmpoules' }, placeholder: '',  min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Puissance originale (W):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{ bindingOptions: { value: 'vm.puissanceOri' }, placeholder: '',  min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Puissance LED (W):</div>
        <div id="puissanceLED" class="dx-field-value" dx-number-box="{ bindingOptions: { value: 'vm.puissanceLed' }, placeholder: '',  min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Prix kW ($):</div>
        <div id="puissanceLED" class="dx-field-value" dx-number-box="{ bindingOptions: { value: 'vm.prixKw' }, placeholder: '', min: 0 }"
        data-bind="dxNumberBox: floatSettings"></div>
    </div>
    <div class="dx-field slider-container">
        <div class="slider-title">Utilisation</div>
        <div class="slider-body">
            <div dx-slider="{ min: 1, max: 24, step: 1, activeStateEnabled: true, bindingOptions: { value: 'vm.usage' } }"></div>
        </div>
        <div class="slider-value">{{vm.usage}} h/j</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Durée vie ampoule (h):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{            bindingOptions: { value: 'vm.dureeVieAmpoule' }, placeholder: '',  min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Durée vie ampoule LED (h):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{            bindingOptions: { value: 'vm.dureeVieLED' }, placeholder: '', min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Cout ampoule ($):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{            bindingOptions: { value: 'vm.coutAmpoule' }, placeholder: '1', min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Cout ampoule LED ($):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{            bindingOptions: { value: 'vm.coutAmpouleLED' }, placeholder: '',  min: 0 }" data-bind="dxNumberBox: floatSettings"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Cout remplacement fixtures ($):</div>
        <div id="puissanceAmpoule" class="dx-field-value" dx-number-box="{            bindingOptions: { value: 'vm.coutInstallationFixtures' }, placeholder: '',  min: 0 }"></div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Coût actuel en électricité (/an)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.coutActuel() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Coût LED en électricité (/an)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.coutLed() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Économies (électricité)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.economies() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Coût actuel total (/an)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.coutTotal() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Coût total LED (/an)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.coutTotalLed() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Économies totales</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.economiesTotales() | currency}}</div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">ROI (mois)</div>
        <div class="dx-field-value" style="font-weight: bold">{{vm.calcul_roi()}}</div>
    </div>
</div>